/*************** Reset *********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

/******* fonts ******/
@font-face {
  font-family: "alba_superregular";
  src:
    url(./fonts/albas___-webfont.woff2) format("woff2"),
    url(./fonts/albas___-webfont.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h2 {
  font-family: "alba_superregular";
}

/************* Farver ***********/

body {
  background-color: azure;
}

button {
  background-color: #231942;
  color: aliceblue;
}

h1 {
  color: #231942;
}

h2 {
  color: #5e548e;
}

h3 {
  color: #9f86c0;
}

p {
  color: #be95c4;
}

dl {
  color: #be95c4;
}

footer {
  color: #231942;
}

/**********marginpadding*********/

h1 {
  padding: 2%;
  margin: 2%;
}

h2 {
  padding: 2%;
  margin: 2%;
}

h3 {
  padding: 2%;
}

p {
  padding: 2%;
  margin: 2%;
  line-height: 1.5;
}

img {
  padding: 2%;
  margin: 2%;
}

dl {
  padding: 2%;
  margin: 2%;
  line-height: 1.5;
}

footer {
  padding: 2%;
  margin: 2%;
}
/*******andet********/
